<div class="wrapper">
  <div class="item ">
    <div class="item-header">
      <h2>Angular list of prohibited words</h2>
    </div>
    <div class="item-base cenzor"></div>
    <div class="item-red-name">Angular list of prohibited words</div>
    <div class="item-footer">
      <a [routerLink]="[ '/works/cenzor' ]">
        <button >datails</button>
      </a>
    </div>
  </div>
  <div class="item">
    <div class="item-header">
      <h2>Angular task list</h2>
    </div>
    <div class="item-base userList"></div>
    <div class="item-red-name">Angular task list</div>
    <div class="item-footer">
       <a [routerLink]="[ '/works/users' ]">
        <button  >datails</button>
      </a>
    </div>
  </div>
  <div class="item">
    <div class="item-header">
      <h2>Angular user list</h2>
    </div>
    <div class="item-base userList"></div>
    <div class="item-red-name">Angular user list</div>
    <div class="item-footer">
       <a [routerLink]="[ '/works/tasks' ]">
        <button  >datails</button>
      </a>
    </div>
  </div>
</div>
